body{
    background-color: #040f2ce2;
    
}
.contenu{
    display: flex;

}
#left{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(256, 256, 256, 0.2);
    width: 5%;
    height: 560px;
    float: left;

}
img[alt="wind"]{
    background-color: white;
    border-radius: 8px;
    margin-bottom: 100px;
    opacity: 0.6;
    margin-top: 10px;
}
.im1{
    width: 25px;
    height: auto;
    color: white;
    display: block;
}
a{
    text-decoration: none;
    font-size: 10px;
    color:white;
    text-align: center;
    margin:auto;
}
.im2:hover{
    background-color: white;
    border-radius: 12px;
    opacity: 0.3;
}
.crii{
    vertical-align: auto;
    margin: auto;
    margin-bottom: 15px;
    text-align: center;
}
/* #center{
    margin: 5px;
    background-color: rgba(256, 256, 256, 1.0);
    width: 65%;
    height: 560px;
} */
#right{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(256, 256, 256, 0.2);
    width: 35%;
    height: 560px;
    float: right;
}
#titre1{
    align-self: flex-start;
}
h3{
    color: white;
    font-size: 15px;
    margin: 4px;
    margin-bottom: 20px;
    opacity: 0.7;

}
.Mon{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 60px;
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.4);
}
.Monday{
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    opacity: 0.3;
}

.sol{
    width:40px;
    height: 40px; 
    position: relative;
    top: 6px;
}
.sunny{
    color: white;
    font-family: 'Trebuchet MS';
    position: relative;
    right: 50px;
}
.d36{
    color: white;
    font-weight: bold;
    font-family: 'Trebuchet MS';
}
.d22{
    color: white;
    font-family: 'Trebuchet MS';
    opacity: 0.6;
}
.wekk{
    margin-right: 27px;
} 